[submodule "Engine/vendor/glm"]
	path = Engine/vendor/glm
	url = https://github.com/iojuedioe9rd/glm
[submodule "Engine/vendor/ecs"]
	path = Engine/vendor/ecs
	url = https://github.com/iojuedioe9rd/ecs
[submodule "Engine/vendor/box2d"]
	path = Engine/vendor/box2d
	url = https://github.com/iojuedioe9rd/box2d
[submodule "Engine/vendor/json"]
	path = Engine/vendor/json
	url = https://github.com/iojuedioe9rd/json
